<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.spaceMusic.dto.ArtistDTO" alias="ArtistDTO"/>
		<typeAlias type="com.spaceMusic.dto.GenreDTO" alias="GenreDTO"/>
		<typeAlias type="com.spaceMusic.dto.MusicDTO" alias="MusicDTO"/>
		<typeAlias type="com.spaceMusic.dto.UserDTO" alias="UserDTO"/>
	</typeAliases>
	 <environments default="development">
		 <environment id="development">
			 <transactionManager type="JDBC"/>
			 <dataSource type="POOLED">
				 <property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
				 <property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
				 <property name="username" value="jsp"/>
				 <property name="password" value="jsp"/>
			 </dataSource>
		 </environment>
	 </environments>
	 
	 <mappers>
	 	<mapper resource="com/spaceMusic/xml/spaceMusic.xml"/>
	 </mappers>
	 
	 
</configuration>


