html{
	width: 100%;
	height: 100%;
}

body {
  background-color: #e9e9e9;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 1px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/background-image2.jpg);
  background-size: cover;
  height: 93%;
}

* {
  box-sizing: border-box;
  transition: 0.25s all ease;
}

.background{
	display: grid;
	place-items: center;
	width: 100%;
	height: 100%;
}

.login-container {
  display: block;
  position: relative;
  z-index: 0;
  margin: 4rem auto 0;
  padding: 5rem 4rem 0 4rem;
  width: 100%;
  max-width: 525px;
  min-height: 680px;
  box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.85);
}

.login-container:after {
  content: "";
  display: inline-block;
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: whitesmoke;
  border-radius: 15px;
  opacity: 0.1;
}

.title {
  text-align: center;
  color: wheat;
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.form-login {
  position: relative;
  z-index: 1;
  padding-bottom: 1.8rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.logo {
  text-align: center;
}

.main-logo {
  width: 200px;
  margin-bottom: 50px;
}

.login__label {
  display: block;
  padding-left: 1rem;
}

.login__label,
.login__label--checkbox {
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  font-size: 0.75rem;
  margin-bottom: 1rem;
}

.login__label--checkbox {
  display: inline-block;
  position: relative;
  padding-left: 1.5rem;
  margin-top: 2rem;
  margin-left: 1rem;
  color: #ffffff;
  font-size: 0.75rem;
  text-transform: inherit;
}

.login__input {
  color: wheat;
  font-size: 1.15rem;
  width: 100%;
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  outline: none;
  border-radius: 1.5rem;
  background-color: rgba(255, 255, 255, 0.25);
  letter-spacing: 1px;
}

.login__input:hover,
.login__input:focus {
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.5);
  background-color: transparent;
}

.login__input + .login__label {
  margin-top: 1.5rem;
}

.login__input--checkbox {
  position: absolute;
  top: 0.1rem;
  left: 0;
  margin: 0;
}

.login__submit {
  color: #ffffff;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 50px;
  padding: 0.75rem;
  border-radius: 2rem;
  display: block;
  width: 100%;
  background-color: skyblue;
  border: none;
  cursor: pointer;
}

.id_pw_find,
.signup {
  color: #ffffff;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 10px;
  padding: 0.75rem;
  border-radius: 2rem;
  display: block;
  width: 100%;
  background-color: skyblue;
  border: none;
  cursor: pointer;
}

.login__submit:hover,
.id_pw_find:hover,
.signup:hover {
  background-color: rgb(65, 52, 114);
}

::placeholder {
  color: wheat;
}
