@charset "UTF-8";

.container {
  width: 1120px;
  max-width: none !important;
}

#originImg > img{
	background-size:cover;
}
#originImg > img,
.user_picture_thumbnail{
   background-color: rgba( 108, 117, 125, 0.5 );
   border:1px solid rgba( 108, 117, 125, 0.5 );
   border-radius:5px;
   margin:0 auto;
   width: 200px;
   height:200px;
}

.user_picture_text{
   display : inline-box;
   color:#6c757d;
} 

.user_picture_label {
     display: inline-box;
     color: #6c757d;
     cursor: pointer;
     font-size: 1em;
}

#user_picture {
  visibility: hidden;
}