body {
  background-color: #e9e9e9;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 1px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/background-image.png);
  background-size: cover;
}

* {
  box-sizing: border-box;
  transition: 0.25s all ease;
}

.signup-container {
  display: block;
  position: relative;
  z-index: 0;
  margin: 4rem auto 0;
  padding: 5rem 4rem 0 4rem;
  width: 100%;
  max-width: 525px;
  min-height: 680px;
  box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.85);
}

.signup-container:after {
  content: "";
  display: inline-block;
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: whitesmoke;
  border-radius: 15px;
  opacity: 0.1;
}

.form-signup {
  position: relative;
  z-index: 1;
  padding-bottom: 4.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}



.signup-pic-button {
  margin-top: 30px;
}

.signup-nav {
  position: relative;
  padding: 0;
  margin: 0 0 6em 1rem;
}

.signup-nav__item {
  list-style: none;
  display: inline-block;
}

.signup-nav__item + .signup-nav__item {
  margin-left: 2.25rem;
}

.user_picture_background{
   text-align:center;
}

.user_picture_thumbnail{
   background-color: rgba( 245, 222, 179, 0.3 );
   border:1px solid rgba( 245, 222, 179, 0.3 );
   border-radius:5px;
   margin:0px 0px 30px 100px;
   width: 200px;
   height:200px;
}

.user_picture_text{
   display : inline-box;
   color:wheat;
} 

.user_picture_label {
     display: inline-box;
     color: wheat;
     cursor: pointer;
     font-size: 1em;
}

#user_picture {
  visibility: hidden;
}

.signup__label {
  display: block;
  padding-left: 1rem;
}

.signup__label,
.signup__label--checkbox {
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  font-size: 0.75rem;
  margin-bottom: 1rem;
}

.signup__label--checkbox {
  display: inline-block;
  position: relative;
  padding-left: 1.5rem;
  margin-top: 2rem;
  margin-left: 1rem;
  color: #ffffff;
  font-size: 0.75rem;
  text-transform: inherit;
}

.signup__input {
  color: wheat;
  font-size: 1.15rem;
  width: 100%;
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  outline: none;
  border-radius: 1.5rem;
  background-color: rgba(255, 255, 255, 0.25);
  letter-spacing: 1px;
}

.signup__input:hover,
.signup__input:focus {
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.5);
  background-color: transparent;
}

.signup__input + .signup__label {
  margin-top: 1.5rem;
}

.signup__input--checkbox {
  position: absolute;
  top: 0.1rem;
  left: 0;
  margin: 0;
}

.signup__submit {
  color: #ffffff;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 50px;
  padding: 0.75rem;
  border-radius: 2rem;
  display: block;
  width: 100%;
  background-color: skyblue;
  border: none;
  cursor: pointer;
}

.id_check_button,
.email_check_button {
  color: #ffffff;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0.75rem;
  border-radius: 2rem;
  display: block;
  width: 100%;
  background-color: skyblue;
  border: none;
  cursor: pointer;
}

.email_check_input {
  color: wheat;
  font-size: 1.15rem;
  width: 100%;
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  outline: none;
  border-radius: 1.5rem;
  background-color: rgba(255, 255, 255, 0.25);
  letter-spacing: 1px;
}

.email_check_input:hover,
.email_check_input:focus {
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.5);
  background-color: transparent;
}

.email__label {
  display: block;
  padding-left: 1rem;
  margin-top: 24px;
}

/* 라벨 색, 폰트 크기 */
.email__label,
.email__label--checkbox {
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  font-size: 0.75rem;
  margin-bottom: 1rem;
}

.id_check_button:hover,
.signup__submit:hover,
.email_check_button:hover {
  background-color: rgb(65, 52, 114);
}